.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}

.product-item {
    width: 200px;
    height: auto;
    border: 0.1rem yellowgreen solid;
    padding: 1rem;
    border-radius: 2rem;
}