.main-nav-container {
    color: blue;
    list-style-type: none;
    display: flex;
    cursor: pointer;
}

.main-nav-container li {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.cart {
    color: green;
}